Repository JRemitz/actions-test: changes, and which CircleCI parameters are due for each by the changed paths.
All: welcome, welcome2

test
  test1/file1.txt
Due: welcome

test
  test3/test.txt
Due: none

test
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

test
  .circleci/continue-config.yml
Due: none

test
  test2/test.txt
Due: welcome2

test3
  test3/test.txt
Due: none

fix
  .circleci/config.yml
Due: none

conditions
  .circleci/continue-config.yml
Due: none

conditions
  test1/file1.txt
Due: welcome

test1
  test1/file1.txt
Due: welcome

test
  .circleci/continue-config.yml
  test1/file1.txt
Due: welcome

test1
  .circleci/continue-config.yml
  test1/file1.txt
Due: welcome

test1
  .circleci/continue-config.yml
Due: none

pull request
  .circleci/continue-config.yml
Due: none

nothing
  test3/test.txt
Due: none

fix test2 for pr
  .circleci/continue-config.yml
Due: none

fix test2 for pr
  test2/test.txt
Due: welcome2

nothing
  .circleci/continue-config.yml
Due: none

test2 pr
  .circleci/continue-config.yml
Due: none

default test
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

default test
  .circleci/continue-config.yml
Due: none

pr
  .circleci/continue-config.yml
Due: none

test command
  .circleci/continue-config.yml
Due: none

Path conditions:
  welcome: any of: test1/.*
  welcome2: any of: test2/.*
